body{ 
    background-color: rgb(2, 137, 221);
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

main {
    align-items: center;
    position: absolute;
    top: 27%;
    left: 35%;
    background-color: white;
    border: 1px solid;
    border-radius: 15px;
    /* padding: 5px; */
    display: flex;
    width: 28%;
    height: 42vh;
    justify-content: center;
}

.top-login {    
    display: flex;
    width: 100%;
    /* border: 1px solid; */
    padding: 10px;
    position: absolute;
    top: 2%;
    left: 1%;
}

.top-login h1{
    margin-left: 5px;
    font-size: 1.8em;
}
.top-login img {
    width: 2.5vw;
}

.inputs {
    position: relative;
    top: 25px;
}


.inputs input{
    display: inline-block; 
    width: 80%;
    margin: 5px 40px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid gray;
}
.inputs input::placeholder{
    font-size: 1.3em;
}


.inputs button {
    border: 1px solid rgb(0, 162, 255);
    color: rgb(0, 136, 255);
    background-color: white;
    margin: 10px 40px;
    width: 80%;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    height: 6vh;
    border-radius: 15px;
}

.inputs button:hover {
    background-color: rgb(0, 110, 255);
    color: white;
    cursor: pointer;
}

aside {
    display: flex;
    justify-content: center;
    position: absolute;
    /* border: 1px solid black; */
    left: 88%;
    top: 1%;
    width: 10%;
}   

#cadastro {
    border-radius: 10px;
    width: 100%;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    height: 6vh;
    border: 1px solid rgb(0, 162, 255);
    color: black;
    background-color: white;
}

#cadastro:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}


/* Celulares */
@media(max-width: 500px) { 
    main {
        position: relative;
        top: 180px;
        left: 10px;
        width: 95vw;
        height: 50vh;
    }

    .top-login {
        display: flex;
        align-items: center;
        /* border: 1px solid; */
        margin: 15px 0;
    }

    .top-login h1 {
        font-size: 27px;
    }
    .top-login img {
        width: 10vw;
    }

    .inputs {
        /* border: 1px solid; */
        width: 90vw;
        height: 20vh;
    }

    #login-usuario, #senha-usuario, #button {
        margin: 5px 5px;
    }

    #button {
        margin: 30px 5px;
    }

    .inputs input{
        width: 98%;
    }
    .inputs button {
        width: 98%;
    }

}
